.popular_items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 150px;
}

.popular {
  display: flex;
  justify-content: center;
}

.popular h1 {
  font-size: 50px;
  font-weight: 500;
}

.popular hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: black;
  margin-left: 100px;
  margin-right: 25px;
}
